@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1160px;
}

body{
    position: relative;
    width: 100%;
    max-width: 700px;
    background-color: #c3c3c3; 
    margin: 0 auto;
}

/* barre du haut avec photo + infos */

header{
    display: flex;
    align-items: center;
    padding-left:100px;
    width: 1160px;
    height: 200px;
    background-color: #1bbca1;
}

.photo{
    width: 10%;
    min-width: 100px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    border: 1px solid #ffffff;
    float: left;
    margin-top: 15px;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #fff;
}

.infos{
    margin-left: 200px;
}

.infos h1{
    font-size: 2rem;
    margin-bottom: 10px;
    margin-left: 70px;
}

.infos h2{
    margin-bottom: 5px;
}

.contact-left{
    display: flex;
    flex-wrap: nowrap;
}

.contact-right{
    display: flex;
    flex-wrap: nowrap;
}

/* Partie gauche, compétence, langues, qualités et centres d'intérêts */

.left-side{
    position: absolute;
    float: left;
    width: 300px;
    height: 1000px;
    background-color: #e3e3e3;
    line-height: 1.6;
    list-style-type: none;
}

.left-side hr{
    width: 250px;
    margin-left: 10px;
    border:1px solid #d3d3d3
}

.skills{
    padding: 15px;

}

.skills h2{
    color:#1bbca1;
    margin-left: 10px;
}


.skills ul{
    list-style-type: none;
    font-weight: bold;
    padding-top: 15px;
    margin-left: 10px;
}

.language{
    padding: 10px 20px 20px;
}

.language h2{
    color: #1bbca1;
    margin-left: 10px;
}

.language ul{
    list-style-type: none;
    font-weight: bold;
    padding-top: 15px;
    margin-left: 10px;
}

.niveau-langue{
    color: red;
    font-weight: 400;
    display: flex;
    flex-direction: row;

}

.quality, .interest{
    padding: 15px;
}

.quality h2 , .interest h2{
    color: #1bbca1;
    margin-left: 10px;
}

.quality ul,.interest ul{
    list-style-type: square;
    padding-top: 15px;
    margin-left: 30px;
}

li::marker{
    color: #1bbca1;
}

/* Partie droite avec parcour professionnel */

.right-side{
    position: relative;
    float: right;
    width: 860px;
    height: 1000px;
    background-color: #fff;
    box-sizing: border-box;
}

/* Profile  */

.profile{
    margin: 20px 40px;
}

.profile h2{
    margin-bottom: 5px;
    color: #1bbca1;
}

.right-side hr {
    width: 750px;
    margin-bottom: 20px;
    border:1px solid #e3e3e3
}

.text{
    max-width: 750px;
    word-wrap: wrap;
    text-indent: 30px;
}

/* Formations */

.formations{
    margin: 20px 40px;
}

.formations h2{
    margin-top: 30px;
    margin-bottom: 5px;
    color: #1bbca1;
}

.formations ul{
    list-style-type: none;
    padding: 20px 0;
}

/* Margin en negatif ici pour remonter le text d'un cran  */

.years{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -30px;
    margin-left: 20px;
    color: #1bbca1;
}

.experience{
    margin: 20px 40px;
}

.experience h2{
    margin-top: 30px;
    margin-bottom: 5px;
    color: #1bbca1;
}
.experience ul{
    list-style-type: none;
    padding: 20px 0;
}

.years-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -30px;
    margin-left: 20px;
    color: #1bbca1;
}

footer{
    display: flex;
    align-items: center;
    padding-left:100px;
    width: 1160px;
    height: 100px;
    background-color: #1bbca1;
}